// Styling for the masthead
header.masthead {
    text-align: center;
    color: white;
    background-image: url('../img/landing-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    @include background-cover;
    .intro-text {
        padding-top: 100px;
        padding-bottom: 50px;
        .intro-lead-in {
            font-size: 50px;
            line-height: 50px;
            margin-bottom: 25px;
            @include serif-font;
        }
        .intro-heading {
            font-size: 20px;
            font-weight: 700;
            line-height: 20px;
            margin-bottom: 25px;
            @include heading-font;
        }
    }
}

@media(min-width:768px) {
    header.masthead {
        .intro-text {
            padding-top: 300px;
            padding-bottom: 200px;
            .intro-lead-in {
                font-size: 70px;
                line-height: 70px;
                margin-bottom: 25px;
                @include serif-font;
            }
            .intro-heading {
                font-size: 20px;
                font-weight: 700;
                line-height: 20px;
                margin-bottom: 50px;
                @include heading-font;
            }
        }
    }
}
